#list h1 {
	text-align: center;
	margin-top: 100px;
}

#list table {
	width: 100%;
}
 
#list td {
	text-align: center;
}

#list h2 {
	text-align: center;
}

#option {
	width: 100%;
	text-align: center;
}

.box{
	top: 47px;
	position: relative;
	width: 100%;
	height: 100%;
}

.box1{
	float: left;
	width: 20%;
	height: 100vh;
}

.box2{
	float: left;
	width: 59.95%;
	height: 100vh;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.box3{
	float: left;
	width: 20%;
	height: 100vh;	
}

.button {
	background-color: #544C4C;
	border: none;
	color: white;
	padding: 8px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 127px;
	cursor: pointer;
}

.box2 h2 {
	margin-top: 20px;
	margin-left: 10px;
}

.questions {
	margin-left: 150px;
	margin-top: 200px;
}

.books {
	margin-left: 150px;
	margin-top: 100px;
}

.links {
	margin-left: 150px;
	margin-top: 100px;
}

.box3 h2 {
	text-align: center;
}

.courses {
	background-color: #544C4C;
	border: none;
	color: white;
	padding: 4px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 127px;
	cursor: pointer;
}

.box1 table {
	margin-left: 150px;
}

.box2 button {
	float: left;
	background-color: #A58383;
	border: none;
	color: white;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 20px;
	cursor: pointer;
}

.box2 h3 {
	float: left;
}

.first {
	width: 100%;
	height: 50px;
}

.second {
	width: 50%;
	float: right;
}

#reg h1 {
	color: black;
	font-size: 45px;
	font-weight: bold;
	padding: 10px;
}

#reg input {
	height: 30px;
	width: 300px;
}

#reg {
	text-align: center;
	width: 100%;
}

#reg input[name=signup] {
	width: 100px;
	background-color: #69a74e;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

#reg input[name=signup]:hover {
	background-color: #79bc64;
}

#login input {
	height: 30px;
	width: 300px;
}

#login {
	text-align: center;
	width: 100%;
}

#login input[name=login] {
	width: 100px;
	background-color: #69a74e;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

#login input[name=login]:hover {
	background-color: #79bc64;
}

#reg input[type="file"]{
	width: 200px;
}

#image {
	width: 304px;
	height: 36px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.q {
	margin-top: 200px;
	margin-left: 150px;
}

.qfu {
	margin-top: 200px;
	margin-left: 125px;
}

.header {
	width: 100%;
	height: 50px;
	margin-top: 0px;
}

.header h3 {
	text-align: center;
	margin-left: 5px;
}